<script>
  window.images = {
    logo: "<%= image_url("logo.png") %>",
    burgundy: "<%= image_url("ron-burgundy.png") %>",
    carousel_dice: "<%= image_url("main-page-carousel/carousel_dice.jpg") %>",
    carousel_kids_running: "<%= image_url("main-page-carousel/carousel_kids_running.png") %>",
    carousel_telemarketers: "<%= image_url("main-page-carousel/carousel_telemarketers.jpg") %>",
    carousel_tomcar: "<%= image_url("main-page-carousel/carousel_tomcar.jpg") %>",
    carousel_triangle_bg: "<%= image_url("main-page-carousel/carousel_triangle_bg.jpg") %>",
    carousel_wolves: "<%= image_url("main-page-carousel/carousel_wolves.jpg") %>"
  }
</script>

<div id="root"></div>
