<!DOCTYPE html>
<html>
  <head>
    <title>Jumpstarter</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      <% if logged_in? %>
      	window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      <% end %>
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
